@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: 264 20% 95%;
    --text-100: 262 22% 90%;
    --text-200: 264 20% 80%;
    --text-300: 263 20% 70%;
    --text-400: 264 20% 60%;
    --text-500: 264 20% 50%;
    --text-600: 264 20% 40%;
    --text-700: 263 20% 30%;
    --text-800: 264 20% 20%;
    --text-900: 262 22% 10%;
    --text-950: 264 20% 5%;

    --background-50: 252 20% 95%;
    --background-100: 251 22% 90%;
    --background-200: 252 20% 80%;
    --background-300: 252 20% 70%;
    --background-400: 252 20% 60%;
    --background-500: 252 20% 50%;
    --background-600: 252 20% 40%;
    --background-700: 252 20% 30%;
    --background-800: 252 20% 20%;
    --background-900: 251 22% 10%;
    --background-950: 252 20% 5%;

    --primary-50: 252 20% 95%;
    --primary-100: 256 22% 90%;
    --primary-200: 258 20% 80%;
    --primary-300: 257 20% 70%;
    --primary-400: 258 20% 60%;
    --primary-500: 258 20% 50%;
    --primary-600: 258 20% 40%;
    --primary-700: 257 20% 30%;
    --primary-800: 258 20% 20%;
    --primary-900: 256 22% 10%;
    --primary-950: 264 20% 5%;

    --secondary-50: 324 20% 95%;
    --secondary-100: 322 22% 90%;
    --secondary-200: 321 20% 80%;
    --secondary-300: 321 20% 70%;
    --secondary-400: 321 20% 60%;
    --secondary-500: 321 20% 50%;
    --secondary-600: 321 20% 40%;
    --secondary-700: 321 20% 30%;
    --secondary-800: 321 20% 20%;
    --secondary-900: 322 22% 10%;
    --secondary-950: 312 20% 5%;

    --accent-50: 348 20% 95%;
    --accent-100: 338 22% 90%;
    --accent-200: 341 22% 80%;
    --accent-300: 340 22% 70%;
    --accent-400: 340 21% 60%;
    --accent-500: 340 21% 50%;
    --accent-600: 340 21% 40%;
    --accent-700: 340 22% 30%;
    --accent-800: 341 22% 20%;
    --accent-900: 338 22% 10%;
    --accent-950: 336 20% 5%;
  }
  .dark {
    --text-50: 264 20% 5%;
    --text-100: 262 22% 10%;
    --text-200: 264 20% 20%;
    --text-300: 263 20% 30%;
    --text-400: 264 20% 40%;
    --text-500: 264 20% 50%;
    --text-600: 264 20% 60%;
    --text-700: 263 20% 70%;
    --text-800: 264 20% 80%;
    --text-900: 262 22% 90%;
    --text-950: 264 20% 95%;

    --background-50: 252 20% 5%;
    --background-100: 251 22% 10%;
    --background-200: 252 20% 20%;
    --background-300: 252 20% 30%;
    --background-400: 252 20% 40%;
    --background-500: 252 20% 50%;
    --background-600: 252 20% 60%;
    --background-700: 252 20% 70%;
    --background-800: 252 20% 80%;
    --background-900: 251 22% 90%;
    --background-950: 252 20% 95%;

    --primary-50: 264 20% 5%;
    --primary-100: 262 22% 10%;
    --primary-200: 258 20% 20%;
    --primary-300: 259 20% 30%;
    --primary-400: 260 20% 40%;
    --primary-500: 259 20% 50%;
    --primary-600: 259 20% 60%;
    --primary-700: 259 20% 70%;
    --primary-800: 258 20% 80%;
    --primary-900: 262 22% 90%;
    --primary-950: 252 20% 95%;

    --secondary-50: 312 20% 5%;
    --secondary-100: 322 22% 10%;
    --secondary-200: 321 20% 20%;
    --secondary-300: 321 20% 30%;
    --secondary-400: 321 20% 40%;
    --secondary-500: 321 20% 50%;
    --secondary-600: 321 20% 60%;
    --secondary-700: 321 20% 70%;
    --secondary-800: 321 20% 80%;
    --secondary-900: 322 22% 90%;
    --secondary-950: 324 20% 95%;

    --accent-50: 336 20% 5%;
    --accent-100: 338 22% 10%;
    --accent-200: 341 22% 20%;
    --accent-300: 340 22% 30%;
    --accent-400: 340 21% 40%;
    --accent-500: 340 21% 50%;
    --accent-600: 340 21% 60%;
    --accent-700: 340 22% 70%;
    --accent-800: 341 22% 80%;
    --accent-900: 338 22% 90%;
    --accent-950: 348 20% 95%;
  }
}

@layer base {
  * {
    @apply border-secondary-300;
  }
  body {
    @apply bg-background-950 text-text-50;
  }
}

/* Mesh gradient background - 4K Resolution */
.mesh-gradient-bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='mesh-gradient' width='3840' height='2160' viewBox='0 0 3840 2160' %3E %3Cdefs%3E %3Cfilter id='blur' filterUnits='userSpaceOnUse' x='0' y='0' width='3840' height='2160'%3E %3CfeGaussianBlur stdDeviation='400' /%3E %3C/filter%3E %3Cfilter id='noise' x='0' y='0' width='100%25' height='100%25'%3E %3CfeTurbulence type='fractalNoise' baseFrequency='0.8' octaves='4' result='turbulence' stitchTiles='stitch' /%3E %3CfeBlend in='SourceGraphic' in2='turbulence' mode='overlay' /%3E %3C/filter%3E %3C/defs%3E %3Crect id='background' width='100%25' height='100%25' fill='%235F3F54' /%3E %3Cg id='swatches' width='3840' height='2160' filter='url(%23blur)'%3E%3Crect x='-276.8' y='747.8' width='1787.8' height='2346.4' fill='%230B0A0F' /%3E%3Crect x='80.6' y='-647.8' width='1322.1' height='2135.1' fill='%23BBB3CC' /%3E%3Crect x='756.2' y='1096.4' width='1668.7' height='1329.4' fill='%23AA7D8C' /%3E%3Crect x='2920.5' y='-512.0' width='1729.6' height='2422.2' fill='%23F2F0F5' /%3E%3C/g%3E %3Crect x='0' y='0' width='3840' height='2160' style='mix-blend-mode: soft-light; filter: url(%23noise); opacity: 20%25'%3E%3C/rect%3E %3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
