@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: 264 20% 95%;
    --text-100: 262 22% 90%;
    --text-200: 264 20% 80%;
    --text-300: 263 20% 70%;
    --text-400: 264 20% 60%;
    --text-500: 264 20% 50%;
    --text-600: 264 20% 40%;
    --text-700: 263 20% 30%;
    --text-800: 264 20% 20%;
    --text-900: 262 22% 10%;
    --text-950: 264 20% 5%;

    --background-50: 252 20% 95%;
    --background-100: 251 22% 90%;
    --background-200: 252 20% 80%;
    --background-300: 252 20% 70%;
    --background-400: 252 20% 60%;
    --background-500: 252 20% 50%;
    --background-600: 252 20% 40%;
    --background-700: 252 20% 30%;
    --background-800: 252 20% 20%;
    --background-900: 251 22% 10%;
    --background-950: 252 20% 5%;

    --primary-50: 252 20% 95%;
    --primary-100: 256 22% 90%;
    --primary-200: 258 20% 80%;
    --primary-300: 257 20% 70%;
    --primary-400: 258 20% 60%;
    --primary-500: 258 20% 50%;
    --primary-600: 258 20% 40%;
    --primary-700: 257 20% 30%;
    --primary-800: 258 20% 20%;
    --primary-900: 256 22% 10%;
    --primary-950: 264 20% 5%;

    --secondary-50: 324 20% 95%;
    --secondary-100: 322 22% 90%;
    --secondary-200: 321 20% 80%;
    --secondary-300: 321 20% 70%;
    --secondary-400: 321 20% 60%;
    --secondary-500: 321 20% 50%;
    --secondary-600: 321 20% 40%;
    --secondary-700: 321 20% 30%;
    --secondary-800: 321 20% 20%;
    --secondary-900: 322 22% 10%;
    --secondary-950: 312 20% 5%;

    --accent-50: 348 20% 95%;
    --accent-100: 338 22% 90%;
    --accent-200: 341 22% 80%;
    --accent-300: 340 22% 70%;
    --accent-400: 340 21% 60%;
    --accent-500: 340 21% 50%;
    --accent-600: 340 21% 40%;
    --accent-700: 340 22% 30%;
    --accent-800: 341 22% 20%;
    --accent-900: 338 22% 10%;
    --accent-950: 336 20% 5%;
  }
  .dark {
    --text-50: 264 20% 5%;
    --text-100: 262 22% 10%;
    --text-200: 264 20% 20%;
    --text-300: 263 20% 30%;
    --text-400: 264 20% 40%;
    --text-500: 264 20% 50%;
    --text-600: 264 20% 60%;
    --text-700: 263 20% 70%;
    --text-800: 264 20% 80%;
    --text-900: 262 22% 90%;
    --text-950: 264 20% 95%;

    --background-50: 252 20% 5%;
    --background-100: 251 22% 10%;
    --background-200: 252 20% 20%;
    --background-300: 252 20% 30%;
    --background-400: 252 20% 40%;
    --background-500: 252 20% 50%;
    --background-600: 252 20% 60%;
    --background-700: 252 20% 70%;
    --background-800: 252 20% 80%;
    --background-900: 251 22% 90%;
    --background-950: 252 20% 95%;

    --primary-50: 264 20% 5%;
    --primary-100: 262 22% 10%;
    --primary-200: 258 20% 20%;
    --primary-300: 259 20% 30%;
    --primary-400: 260 20% 40%;
    --primary-500: 259 20% 50%;
    --primary-600: 259 20% 60%;
    --primary-700: 259 20% 70%;
    --primary-800: 258 20% 80%;
    --primary-900: 262 22% 90%;
    --primary-950: 252 20% 95%;

    --secondary-50: 312 20% 5%;
    --secondary-100: 322 22% 10%;
    --secondary-200: 321 20% 20%;
    --secondary-300: 321 20% 30%;
    --secondary-400: 321 20% 40%;
    --secondary-500: 321 20% 50%;
    --secondary-600: 321 20% 60%;
    --secondary-700: 321 20% 70%;
    --secondary-800: 321 20% 80%;
    --secondary-900: 322 22% 90%;
    --secondary-950: 324 20% 95%;

    --accent-50: 336 20% 5%;
    --accent-100: 338 22% 10%;
    --accent-200: 341 22% 20%;
    --accent-300: 340 22% 30%;
    --accent-400: 340 21% 40%;
    --accent-500: 340 21% 50%;
    --accent-600: 340 21% 60%;
    --accent-700: 340 22% 70%;
    --accent-800: 341 22% 80%;
    --accent-900: 338 22% 90%;
    --accent-950: 348 20% 95%;
  }
}

@layer base {
  * {
    @apply border-secondary-300;
  }
  body {
    @apply bg-background-950 text-text-50;
  }
}

.mesh-gradient-bg {
  background-image: url('./src/assets/mesh-gradient.svg');
  background-repeat: no-repeat;
}
